/* reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*propiedades del padre
.padre{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*propiedades de los hijos
.hijos{

    background-color: blanchedalmond;
    width: 100px;
    height: 100px;
    margin: 20px;

}
*/

.btn-whatsapp{
    list-style: none;
}